.reviewInfo {
    background: $bgcolor;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .formWrapper {
        width: 768px;
        padding: 150px;
        @include respond-to('small') {
            width: 100%;
            padding: 50px;
        }
        h1 {
            font-family: $merryweather-font;
            color: $text-color;
            font-size: 2.5em;
            @include respond-to('small') {
                font-size: 2em;
            }
        }
        .dataList {
            .ant-list-item {
                padding: 0;
            }
            .dataItem {
                font-family: $poppins-font;
                .ant-card-head-title {
                    font-weight: 600;
                }
            }
        }
        .submitBtn {
            background: $button-bg;
            font-family: $poppins-font;
            font-weight: 400;
        }
    }
}